{{#isMap}}Map<String, {{{returnType}}}>{{/isMap}}{{#isArray}}{{#reactive}}Flux{{/reactive}}{{^reactive}}{{^vendorExtensions.x-spring-paginated}}{{{returnContainer}}}{{/vendorExtensions.x-spring-paginated}}{{#vendorExtensions.x-spring-paginated}}Page{{/vendorExtensions.x-spring-paginated}}{{/reactive}}<{{{returnType}}}>{{/isArray}}{{^returnContainer}}{{{returnType}}}{{/returnContainer}}