<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %notEmpty{%X{traceId}}%notEmpty{ - %X{spanId} -} %msg%n%throwable" />
        </Console>
        <Sentry name="Sentry">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </Sentry>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Sentry"/>
            <AppenderRef ref="Console" />
        </Root>

        <Logger name="iq.earthlink.social" level="INFO"/>
    </Loggers>

</Configuration>
